.heatMap {
    width: 70%;
    text-align: center;
}
.table-wrapper {
  background-color: green;
  word-wrap: break-word;
  text-align: left;
}
tr:nth-child(odd) td { background-color: #ffffff; }
tr:nth-child(even) td { background-color: #cccccc; }
thead tr th {
  background-color: #cccccc;
  border-bottom: 2px solid #999999;
}
td {
  border-bottom:0px;
  border-left:0px;
  border-right:0px;
}
table {border: 0px solid; border-spacing: 0px;}
.postable thead tr th {
  background-color: lightgreen;
}
.negtable thead tr th {
  background-color: orange;
}
img {
  max-widt: 100% !important;
}
img[src$="centerimgsmall"] {
  display:block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
}
img[src$="centerimgmed"] {
  display:block;
  margin: 0 auto;
  max-width: 500px;
  max-height: 500px;
}
img[src$="smallimgleft"]{
  display:block;
  float: left;
  max-width: 200px;
  max-height: 200px;
  padding-right:10px;
  padding-bottom:10px;
  padding-top:10px;
}
img[src$="smallimgright"]{
  display:block;
  float: right;
  max-width: 200px;
  max-height: 200px;
  padding-left:10px;
  padding-bottom:10px;
  padding-top:10px;
}
img[src$="titleimgright"]{
  display:block;
  position: absolute;
  top: 6rem;
  right:0rem;
  max-width: 90px;
  max-height: 150px;
}
.main-content h1:first-child {
  padding-right:80px
}
img[src$="rpihandimg"]{
  float:right;
  max-width:200px;
  padding-left:10px;
}

.site-title {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.site-logo {
  margin-left: 30px;
}

.text-delta {
  padding-top: 12px;
}

@media (min-width: 50rem) { .main {margin-left: 310px;} }

a {
  color: #139073; /* #B42E4B; */
}
.nav-list-item {
  padding-right:0px;
}
/*
.nav-list-item a {
  color: #000000;
}
*/

.nav-list .nav-list-item .nav-list-link {
  padding-left: 1.5rem;
}

.page-content a {
  text-decoration: underline !important;
}

a:not([class]) {
  text-decoration: underline;
}
a:not([class]):hover {
  background-size: 0px;
}

a:active, a:hover {
  outline: 0;
  color: #000000;
}

::selection {
  background: #61c9e9;
}

.label {
  margin-left: 0px;
}

.site-logo {
  margin: 0px;
}
.site-title {
  padding:0px;
}
.site-header {
  padding: 0px 0px 0px 10px !important;
  height: 70px !important;
  max-height: 70px !important;
  border-bottom:0px;
}
@media (min-width: 50rem) {
.site-nav, .site-header, .site-footer {
    width: 300px;
  }
}
@media (min-width: 66.5rem) {
.site-nav, .site-header, .site-footer {
    width: 300px;
  }
}
.main-header {
  height: 55px
}
.main-content-wrap {
  padding-top: 2rem;
  padding-bottom: 0rem;
}
@media (min-width: 50rem) {
  .main-content-wrap {
    padding-bottom: 2rem;
  }
}
.site-nav {
  padding-top: 2rem;
}

hr {
  margin: 1rem 0px;
}
#socialicons {
  padding-left: 1.5rem;
  padding-top: 1rem;
}
#socialicons a:not([class]) {
  background-image: none;
}
svg {
  width: 30px;
  height: 30px;
  padding-right:10px;
}
.site-header svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.search-label svg {
  width: 1.75rem !important;
  height: 1.75rem !important;
}
svg:hover {
  fill: #139073;
}

.side-bar {
    width: 100%;
}
@media (min-width: 50rem) {
  .side-bar, .site-nav {
      width: 300px;
  }
}
@media (min-width: 66.5rem) {
  .side-bar, .site-nav {
      width: 300px;
  }
}
.fs-9 {
  margin-top: -20px !important;
}
.nav-list .nav-list-item.active > .nav-list-expander svg {
  margin-top:-10px;
}
@media (min-width: 50rem) {
  .nav-list .nav-list-item .nav-list-expander {
    padding-right: 2rem;
  }
}
