{% if page.comments != false %}
<h2 class="comments-heading">Comments</h2>
<em>If you have any questions or remarks, please leave them below!<br/>You can leave a comment as a guest by clicking the name field and selecting "I'd rather post as a guest". Or alternatively, send me an <a href='&#109;&#97;i&#108;t&#111;&#58;%&#54;A&#46;&#119;&#46;jolle&#37;73&#64;&#103;&#109;a&#37;69%6C&#46;%63om'>email</a>, but in that case others will not see it. Thanks!</em>
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url | absolute_url }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://raspberrypi-guide-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<hr>
{% endif %}
